src/*.exe
src/bitrupiah
src/bitrupiahd
src/test_litecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitrupiah

# Compilation and Qt preprocessor part
*.qm
Makefile
bitrupiah-qt
Bitrupiah-Qt.app

# Unit-tests
Makefile.test
bitrupiah-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
